.navigation {
  border: 1px solid #cfcfe4;
  border-radius: 18px;
  padding: 12px;

  max-width: 264px;
  width: 100%;

  .navigation__tags {
    .navigation__tag {
      .navigation__button {
        width: 100%;
        padding: 12px;
        font-family: 'Nunito';
        font-size: 18px;
        font-weight: 800;
        line-height: 18px;
        letter-spacing: -0.1px;
        color: #39414b;
        text-align: left;
        background: none;
        border: none;
        cursor: pointer;
        &.navigation__button--active {
          background-color: #5fbf77;
          border-radius: 12px;
          color: #fff;
        }
      }
    }
  }
}
